---
import ProjectLayout from '../layouts/ProjectLayout.astro';
import Gallery from '../components/Gallery.astro';

const images = [
  { src: '/images/unity/army-of-one-01.png' },
  { src: '/images/unity/army-of-one-02.png' },
  { src: '/images/unity/army-of-one-03.png' },
];
---

<ProjectLayout title="Army Of One">
  <h2>Screenshots</h2>
  <Gallery images={images} />

  <h2>Project description</h2>
  <ul>
    <li>Devices: Mobile</li>
    <li>Platforms: Android, IOS</li>
    <li>Game Engine: Unity</li>
    <li>Game Genres: FPS</li>
    <li>Languages: C#</li>
  </ul>
  <p>An FPS game inspired by Beach Head 2000 on Android and IOS using Unity</p>
  <ul>
    <li><a href="https://apkpure.com/army-of-one/com.rikkeisoft.armyofone" target="_blank" rel="noopener noreferrer">Store link</a></li>
  </ul>
</ProjectLayout>
