---
import ProjectLayout from '../layouts/ProjectLayout.astro';
import YouTube from '../components/YouTube.astro';
---

<ProjectLayout title="Async Loading Screen">
  <YouTube id="3rwsNYPUr0I" />
  <p><em>Plugin Trailer</em></p>

  <YouTube id="Wd3Ll0oMfes?start=130" />
  <p><em>Featured on Unreal Engine Community Spotlight video (2:10)</em></p>

  <iframe
    src="https://ghbtns.com/github-btn.html?user=truong-bui&repo=AsyncLoadingScreen&type=star&count=true&size=large"
    frameborder="0"
    scrolling="0"
    width="170"
    height="30"
    title="GitHub"
    style="margin: 1rem 0;"
  ></iframe>

  <h2>Project description</h2>
  <p>
    Async Loading Screen is a free and open-source plugin for Unreal Engine. Async Loading Screen allows you to
    easily configure a Loading Screen System in the project settings, and automatically add a Loading Screen
    whenever you open a new level, without Level Streaming.
  </p>
  <ul>
    <li>Github: <a href="https://github.com/truong-bui/AsyncLoadingScreen" target="_blank" rel="noopener noreferrer">https://github.com/truong-bui/AsyncLoadingScreen</a></li>
    <li>Marketplace: <a href="https://www.unrealengine.com/marketplace/en-US/product/async-loading-screen" target="_blank" rel="noopener noreferrer">https://www.unrealengine.com/marketplace/en-US/product/async-loading-screen</a></li>
  </ul>
</ProjectLayout>
