---
import ProjectLayout from '../layouts/ProjectLayout.astro';
---

<ProjectLayout title="Message Chat">
  <img src="/images/unreal/messaging-chat-plugin-screenshot-final.png" alt="Message Chat Plugin" style="border-radius: 8px; margin-bottom: 1rem;" />

  <h2>Project description</h2>
  <p>
    A demo for extending Unreal Engine editor, and developing tools/plugins for UE4 with Slate framework and Message Bus.
  </p>
</ProjectLayout>
