---
import ProjectLayout from '../layouts/ProjectLayout.astro';
import Gallery from '../components/Gallery.astro';

const images = [
  { src: '/images/unity/survive-the-zombie-attack-01.png' },
  { src: '/images/unity/survive-the-zombie-attack-02.png' },
];
---

<ProjectLayout title="Zombie Shooting">
  <h2>Screenshots</h2>
  <Gallery images={images} columns={2} />

  <h2>Project description</h2>
  <ul>
    <li>Devices: PC</li>
    <li>Platforms: Windows</li>
    <li>Game Engine: Unity</li>
    <li>Game Genres: FPS</li>
    <li>Languages: C#</li>
  </ul>
  <p>A small zombie shooting made with Unity.</p>
  <ul>
    <li><a href="https://drive.google.com/file/d/1J1LN6kDOw3oC8ZJCa_QvqHCk0IHhVDv4/view?usp=sharing" target="_blank" rel="noopener noreferrer">Download playable build</a></li>
  </ul>
</ProjectLayout>
